
.listMovie-content .borderBottom-title{
    margin-top: 15px;
    border-top: 2.5px solid black;
}
.listMovie-content .listMovie-content-list .row .col-md-4 {
    margin-top: 20px;
}
.listMovie-content .listMovie-content-list .row .col-md-4 a img{
    width: 100%;
}

.movie-info{
    margin-bottom: 10px;
}
.movie-btn{
    display: flex;
    justify-content: space-between
}