.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}
/* CSS Header */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login{
    text-transform: uppercase;
}
.login ul {
    text-align: right;
    margin: 0
}

.login ul a{
    margin-left: 10px;
    color: #666;
}
.login ul a:hover{
    text-decoration: none;
    color: #666;
}
.header{
    height: 120px;
    width: 100%;
    background: url(../img/bg-top.png)
}

.header-content{
    display: flex;
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
}
.header .header-content  .header-content-logo {
    margin: auto 0;
}
.header .header-content  .header-content-logo:hover{
    opacity: 0.7;
}
.header .header-content  .header-content-menu {
    margin-top: 62px;
}
.header .header-content  .header-content-buy{
    margin-top: 20px;
}
.header .header-content ul a{
    font-weight: bold;
    line-height: 30px;
    color: black;
    padding-left: 20px
}
.header .header-content ul a:hover {
    text-decoration: none
}
.header .header-content .header-content-search .input-container{
    background-color: white
}
/* End CSS Header */

/* CSS MENUBAR */
.menubar{
    margin-top: 20px
}
.menubar ul {
    padding: 0 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}
.menubar ul a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}


/* END CSS MENUBAR */

/* SlideShow */
.slideshow{
    width: 100%;
    background: url(../img/bg_c_bricks.png);
}
.img-silder {
    width: 100%;
    height: 100%;
}
/* End SlideShow */

/* Content */
.content{
    margin: 30px auto;
}
.content .content-movie .content-movie-title h2{
    background: url(../img/h3_movie_selection.png) no-repeat scroll center center / 406px 41px ;
        text-indent: -99999px;
    height: 41px;
}
.content .content-movie .content-movie-list{
    margin:20px auto;
}

.content .content-movie .content-movie-list .slider a img{
    width: 100%;
    padding: 2%
}
.slick-prev:before {
    color: red;
  }
  
.slick-next:before {
    color: red;
  }
.content .content-event{
    margin-top: 20px;
}
.content .content-event .content-event-title{
    background: url(../img/h3_event.gif) no-repeat scroll center center / 130px  41px ;
    text-indent: -99999px;
    height: 41px;
}
.content .content-event .content-event-list {
    padding: 30px 0;
    border-bottom: 2px solid #000;
}
.content .content-event .content-event-list .row .banner a img{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    outline-offset: 1px;
    outline: #000 solid 2px;
}
/* End Content */

/* Footer */
.footer{
    height: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.footer .footer-theater{
    margin-bottom: 30px
}
.footer .footer-theater ul {
    margin-top: 8px;
    padding: 0 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}
.footer .footer-theater ul a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer .footer-info .row .col-md-2 a img{
    width: 100%;
}
.footer .footer-info .row .col-md-10{
    font-size: 14px;
    line-height: 18px;
    color: #666;
}

.footer .footer-end{
    margin-top: 10px;
    background: url(../img/bg-bottom-footer.jpg)repeat-x scroll center bottom rgba(0, 0, 0, 0);
    height: 120px;
}
/* End Footer */

/* Responsive */
.menu-res {
    display: none;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(137,137, 135, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: gray
}
@media screen and (max-width: 1000px) {
    /* Header */
    .header .header-content .header-content-menu {
        display: none;
    }
    .header .header-content .header-content-buy {
        display: none;
    }
    .header .header-content .header-content-buy {
        display: none;
    }
    .header .header-content .header-content-logo {
        margin: auto;
        padding-top: 30px;
        display: normal;
    }
    .menubar {
        display: none;
    }
    .menu-res {
        display: inline-block;
    }
    .footer .footer-theater{
        display: none;
    }
    .footer {
        border-top: none;
        border-bottom: none;
    }
    .footer .footer-info .row .col-md-2 a img{
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1198px) {

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {
    *{
        font-size: 15px;   
    }
}
@media only screen and (max-width: 548px) {
    *{
        font-size: 15px;   
    }

}
@media only screen and (max-width: 375px) {
    *{
        font-size: 10px;   
    }
}