<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/movieDetail.css">
</head>
<body>
     <!-- login -->
     <div class="login">
        <ul>
            <a href="">tuyển dụng</a>
            <a href="">liên hệ cgv</a>
            <a href="">đăng nhập/đăng ký</a>
        </ul>
    </div>
    <!-- End Login -->
    
    <!-- Header -->
    <div class="header">
        <div class="header-content">
            <a class="header-content-logo" href="index.html">
                <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="">
            </a>
            <ul class="header-content-menu">
                <a href="">PHIM</a>
                <a href="">RẠP CGV</a>
                <a href="">THÀNH VIÊN</a>
                <a href="">CULTUREPLEX</a>
                <a href="">
                    <img src="../img/kenhcine.gif" alt="">
                </a>
            </ul>
            <a class="header-content-buy" href="listMovie.html">
                <img src="../img/mua-ve_ngay.png" alt="">
            </a>
        </div>
    </div>
    <!-- End Header -->

    <!-- MenuBar -->
    <div class="menubar">
        <ul>
            <a href="">
                <img src="../img/header-logo-1.png" alt="">
            </a>
            <a href="listMovie.html">
                <img src="../img/header-logo-2.png" alt="">
            </a>
            <a href="">
                <img src="../img/header-logo-3.png" alt="">
            </a>
            <a href="">
                <img src="../img/header-logo-4.png" alt="">
            </a>
            <a href="">
                <img src="../img/header-logo-5.png" alt="">
            </a>
            <a href="">
                <img src="../img/header-logo-6.png" alt="">
            </a>
            <a href="">
                <img src="../img/header-logo-7.png" alt="">
            </a>
        </ul>
        <hr>
    </div>
    <!-- End MenuBar -->
    <!-- Content -->
    <div class="movie-detail">
        <div class="title">
            <h3>Nội Dung Phim</h3>
        </div>
        <div class="movie-detail-content">
            <div class="row">
                <div class="col-md-3">
                    <img src="./img/parasite.jpg" alt="">
                </div>
                <div class="col-md-9">
                    <h4 >KÝ SINH TRÙNG</h4>
                    <hr>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Đạo Diễn:</span> <span>Bong Joon Ho</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Diễn Viên:</span> <span>Song Kang Ho, Lee Sun Kyun, Cho Yeo Jeong, Choi Woo Shik, Park So Dam</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Thể Loại:</span> <span>Tâm lý</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Khởi Chiếu:</span> <span>17/02/2020</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Thời Lượng:</span> <span>134 phút</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Ngôn Ngữ:</span> <span>Tiếng Hàn và phụ đề tiếng Việt</span></div>
                    <div class="movie-detail-content-info"><span class="movie-detail-content-info-detail">Rated:</span> <span>CẤM KHÁN GIẢ DƯỚI 18 TUỔI</span></div>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            MUA VÉ
                          </button>   
                          <!-- The Modal -->
                          <div class="modal" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Modal Heading</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Modal body..
                                </div>
                                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                </div>
            </div>
            <div class="movie-detail-content-summary">
                <div>“Ký Sinh Trùng” là bộ phim do đạo diễn Bong Joon-ho dàn dựng xoay quanh một gia đình nghèo. Gia đình này sống trong một căn hộ tồi tàn ở dưới tầng hầm một khu nhà cho thuê, điện thì bị cắt, chật vật chạy ăn từng bữa. Cho tới một ngày, người con trai lớn được giới thiệu làm gia sư tiếng Anh cho con gái của một gia đình giàu có. Choáng ngợp trước cơ ngơi của gia chủ, cậu bèn lên kế hoạch đưa cả gia đình mình thâm nhập vào ngôi nhà giàu có nhưng dễ tin người này, bắt đầu cuộc sống “ký sinh”.</div>
                <center>
                    <h4>Trailer</h4>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/o3ESQWArU2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Footer -->
    <div class="footer">
        <div class="footer-theater">
            <ul>
                <a href="">
                    <img src="../img/1.png" alt="">
                </a>
                <a href="">
                    <img src="../img/2.png" alt="">
                </a>
                <a href="">
                    <img src="../img/5.png" alt="">
                </a>
                <a href="">
                    <img src="../img/6.png" alt="">
                </a>
                <a href="">
                    <img src="../img/7.png" alt="">
                </a>
                <a href="">
                    <img src="../img/9.png" alt="">
                </a>
                <a href="">
                    <img src="../img/8.png" alt="">
                </a>
                <a href="">
                    <img src="../img/10.png" alt="">
                </a>
                <a href="">
                    <img src="../img/11.png" alt="">
                </a>
            </ul>
        </div>
        <div class="footer-info">
            <div class="row">
                <div class="col-md-2">
                    <a href="https://www.tdtu.edu.vn/">
                        <img src="../img/TĐT_logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-10">
                    <h4>Đồ Án Môn Học Lập Trình Web Và Ứng Dụng .</h4>
                    <div>Liên Hệ: Võ Nhật Trường, email: 51702210@student.tdtu.edu.vn .</div>
                    <div>Địa Chỉ: 19 Đường Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Hồ Chí Minh.</div>
                    <div>Điện thoại: 028 3775 5035 .</div>
                    <div>COPYRIGHT 2020 TDTU. All RIGHTS RESERVED .</div>
                </div>
            </div>
        </div>
        <div class="footer-end">
        </div>
    </div>
    <!-- End Footer -->   
</body>
</html>